################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LinkedList/obj/Debug/net5.0
/LinkedList/obj
/.vs/LinkedList/v16
/.vs/LinkedList/v17
/.vs/LINKLIST/v17
/.vs
/LinkedList/bin/Debug/net5.0
